body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to bottom, #ffffff, #d9d6ed);
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #7266c9;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(to bottom, #d9d6ed, #bac0e0);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #39297e, #3349c7, #3a1b3e);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-image: linear-gradient(to right, #39297e, #3349c7, #3a1b3e);
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}


.carousel-image {
    object-fit: cover;
}

.carousel-caption {
    top: 20px;
    bottom: auto;
    color:rgb(247, 233, 221);
}

.carousel-indicators {
    top: 5%;
    bottom: auto;
}